body{
    margin:0  ;
    text-align: center;          /* everything in the body will be centered --- look for it in the HTML */
    font-family:'Merriweather', 'serif';
}

 /*p{
    background-color: red;     can do this and the p tag normally a BLOKK element BLOCKING out all else # 44 tutorial
    display:inline-block;
}*/






h1{
    
    
    margin-top:0;  /* centers automatically*/
    font-family: 'Sacramento', cursive;
}

h2{
    font-family:'Montserrat', sans-serif;
}

h3{
    font-family:'Montserrat', sans-serif;
}
.top-container{      
    padding-top:100px;               /* to pick out a class, we use the . dot */
    background-color:#B6E2A1;
    position:relative;               /* moving the size of the element */

}

.middle-container{
    background-color:#91D8E4;
    
   
}
.bottom-container{                 /* look for the class="bottom-container" on the HTML side */
    background-color:#AD8E70;
    
}

.profile{                          /* everything in the profile is underlined */
    text-decoration: underline;
}

.top-cloud{                      /* look for the class="top-cloud" on the HTML side */
    position:absolute;
    right:900px;
    top:50px;
}
.bottom-cloud{      /* look for the class="bottom-cloud " on the HTML side */
    position:absolute;
    left:300px;
    bottom:300px;

}
.skills{
    position:center;                    /* look for the class="skills " on the HTML side */
    border: solid 0px;
    border-color: grey;
   
    background-color: #CEEDC7;
}
.center{                          /* look for the class="center" on the HTML side */
    margin-left:auto;
    margin-right:auto;
   
}
.pro{
    text-decoration: underline;  /* underline the class  pro */
}
.joro{
    height: 300px;
    width: 300px;
    border-radius: 300px;

}
.jopapa{
    height: 300px;
    width: 300px;
    border-radius: 300px;

}
.study{
    height:300px;
    width:300px;
    border-radius:300px;
}
.wat{
    height: 400px;
    width: 400px;
    border-radius:400px;
}
.jos-mike{
    height:400px;
    width:400px;
    border-radius:400px;
}
